@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    src: url("../assets/fonts/Inconsolata-Regular.ttf");
}

@font-face {
    font-family: "Space Mono";
    font-style: normal;
    src: url("../assets/fonts/SpaceMono-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    src: url("../assets/fonts/Montserrat-Regular.ttf");
}

body {
    font-family: "Space Mono", sans-serif;
    margin: 0;
    padding-inline: 7%;
    padding-block: 2.5%;
    color: #333333;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Inconsolata", sans-serif;
    font-weight: 700;
    font-size: 1.50em;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

h2 {
    font-weight: 700;
    font-size: 46px;
    letter-spacing: -0.035em;
    margin-bottom: 28px;
}

img {
    display: block;
    width: 85%;
    max-width: 40vh;
    margin-bottom: 64px;
    margin-inline: auto;
}

.mt-4 {
    margin-top: 4em;
}

.btn-primary {
    font-size: 0.85em;
    font-weight: 600;
    display: block;
    color: white;
    width: fit-content;
    background-color: #333333;
    padding-inline: 36px;
    padding-block: 20px;

    /* when btn is a link */
    text-decoration: none;
}

main {
    margin-block: auto;
    padding-bottom: 36px;
}

footer {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    text-align: center;
    width: 100%;
    color: #BDBDBD;
}

@media (min-width: 640px) {
    body {
        padding-block: 8px;
    }

    h1 {
        font-size: 1.5vw;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 12px;
        font-size: 3.5vw;
        line-height: 1.5em;
    }
    main {
        display: flex;
        align-items: flex-start;
    }
    img {
        width: 35%;
        max-width: 100vh;
    }
    section {
        width: 40%;
    }

    section p {
        font-size: 1.5vw;
        width: 70%;
        margin-bottom: 42px;
    }

    .btn-primary {
        font-size: 0.8vw;
        padding-inline: 3.4vw;
        padding-block: 1.5vw;    
    }

    footer {
        font-size: 60%;   
    }
}